@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-syne), ui-sans-serif, system-ui, sans-serif;

  --color-background: #050505;
  --color-foreground: #F5F5F5;
  --color-primary: #5c15da;
  --color-secondary: #0c0425;
  --color-accent: #ac84ec;
  --color-accent-2: #949098;
}

/* Custom Utilities */
@utility text-balance {
  text-wrap: balance;
}

@utility bg-primary-gradient {
  background: radial-gradient(circle, #8555E7 0%, #A97AEE 100%);
}

@utility text-primary-gradient {
  background: radial-gradient(circle, #8555E7 0%, #A97AEE 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Custom Animations */
.animate-blink {
  animation: blink 1s infinite;
}

@keyframes blink {

  0%,
  49% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

/* Base Styles */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  overflow-x: hidden;
}

::selection {
  background-color: var(--color-primary);
  color: white;
}

/* Lenis Recommended Styles */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}